* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  /* Make sure body and html take full height */
  height: 100%;
  overflow-x: hidden; /* prevent horizontal scroll from video */
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: relative; /* keep content on top */
  z-index: 1;
}

/* Background video styles */
.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity for darkness */
}



